#PDGAprofiler-player {
    position: fixed;
    display: none;
    overflow: hidden;
    min-width: 300px;
    max-width: 45%;
    background-color: #f6f8f9F6;
    background-position: right bottom;
    border: 2px solid #03253e;
    border-radius: 8px;
    padding: 20px;
    top: 10px;
    left: 10px;
    z-index: 99;
}

#PDGAprofiler-player-photo {
    float: right;
}

#PDGAprofiler-player-photo img {
    width: 100px;
    height: 100%;
}

#PDGAprofiler-player-photo.hasPhoto {
    margin-left: 12px;
    border: 3px solid rgb(0, 141, 111);
    border-radius: 5px;
}

/* Hide default PDGA tooltip */
.tooltipster-base {
    display: none;
}